<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main">
        {{>header}}
        <p>This site is created by Jugraj. It uses data from mapbox.com and api.weatherstack.com! </p>
        <img class="potrait" src="/images/robot.png" alt="An image of a robot">
    </div>

    {{>footer}}
</body>
</html>